VALID_EMAIL=your-test-account@example.com
VALID_PASSWORD=your-test-password

OWNER_EMAIL=owner@example.com
OWNER_PASSWORD=owner-password

COMPANY_EMAIL=company@example.com
COMPANY_PASSWORD=company-password

STAFF_EMAIL=staff@example.com
STAFF_PASSWORD=staff-password
